# Entornos virtuales
env/
venv/
etl-weatherstack/env/
etl-weatherstack/venv/
etl-open-meteo/env/
etl-open-meteo/venv/

# IDEs
.idea/

# Variables de entorno
.env
etl-weatherstack/.env
etl-open-meteo/.env

# Pycache
__pycache__/
**/__pycache__/
