# Variables necesarias
API_URL=https://thesimpsonsapi.com/api/v1

# Credenciales PostgreSQL (Docker las crea automáticamente con estos valores)
DB_HOST=postgres
DB_PORT=5432
DB_NAME=simpsons_db
DB_USER=simpsons_user
DB_PASSWORD=simpsons_pass